/* nav section first */
@font-face {
  font-family: "Calibri Light";
  font-style: normal;
  font-weight: normal;
  src: local('Calibri Light'), url('./font/calibril.woff') format('woff');
}

/* @font-face s */

@font-face{
  font-family: "Nunito Medium";
  font-style: normal;
  font-weight: normal;
  src: local('Nunito Medium'), url('./font/Nunito-Medium.ttf') format('ttf');
}

.general-section  svg{
  fill: white;
  width: 20px;
}

.navigation-div-first
.navigation ul li:nth-last-of-type(4) a span {
  margin: 0px 0px 0px 10px ;
}


.navigation-div-first
.navigation ul button{
  border: none;
  height: 40px;
  width: 70px;
  border-radius: 30px;
  color: #482AFF;
  font-family: "Calibri Light";
  font-size: large;
  margin:auto -11% auto 2%;
}


.nav-section{
  position: sticky;
  top: 0px;
  z-index: 100;
  background-color: #482aff;
  box-shadow: 0 5px 5px rgb(5 25 114 / 40%);
  padding: 5px 0px;
}

.general-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.general-section a{
  width:200px;
  height: 100%;
}

@media(max-width:768px){
  .navigation{
    display: none;
  }
}


.general-section ul{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0rem;
  margin-right: 50px;
}

@media(max-width:991px){
  .general-section ul{
    display: none;
  }
}



.general-section ul li{
  list-style: none;
  margin: 5px 10px;
  text-decoration: unset;
  color: #fff;
  font-size: 15px;
  font-family: "Nunito";
  cursor: pointer;
  font-size: 2rem;
}


.general-section ul li a{
  list-style: none;
  margin: 0px 10px;
  text-decoration: unset;
  color: #fff;
  font-size: 15px;
  font-family: "Nunito";
  cursor: pointer;
  font-size: 1.5rem;
}



@media(max-width:768px){
  .general-section ul li{
    margin-right: 50px;
  }
}


.logo-image{
  display: block;
  width: 100% !important;
  margin: 5px 0px 5px 30px;
  cursor: pointer;
}

.navigation-div-first > a{
  width: 50px;
  height: auto;
}

@media(max-width:568px){
  .navigation-div-first > a{
    width: 30px;
  }
}

.metatesk-image{
  width: 15%;
  margin: auto auto auto 40px;
}


@media(max-width:991px){
  .metatesk-image{
    width: 22%;
  }
}

@media(max-width:768px){
  .metatesk-image{
    width: 28%;
  }
}

@media(max-width:567px){
  .metatesk-image{
    width: 25%;
    margin: auto auto auto 10%;
  }
}

@media(max-width:500px){
  .metatesk-image{
    width: 30%;
  }
}

.responsive-navigation{
  position: fixed;
  top: 0px;
  right: 0%;
  width: 50%;
  height: 95vh;
  background-color: #482AFF;
}

.open-burger{
  display: none;
}

@media(max-width:991px){
  .open-burger{
    display: block;
    padding: 6px 10px;
    background-color: unset;
    color: #fff;
    font-size: 30px;
    border: unset;
  }
  
  .responsive-navigation 
  .open-burger{
    margin: 20px auto auto 0px;
  }
}
/* nav section second */

.navigation-div-second{
  display: flex;
}

.navigation-div-second ul li a {
  font-family: "Calibri Light";
}

.navigation-div-second .navigation{
  margin: auto 2% auto auto;
}

/* responsive */


@media(min-width:991px){
  .navigation-div-second
  .menu-div{
    display: none;
  }
}


@media(max-width:991px){
  .navigation-div-second 
  .navigation{
    margin: auto;
  } 
  .navigation-div-second{
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: #482AFF;
    height: 70px;
    width: 100%;
  }

  .navigation-div-second
  .menu-div{
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 0px 10px;
  }

  .navigation-div-second 
  .menu-div
  .navigation{
    display: none;
  }

  .navigation-div-second 
  .menu-div
  .icon{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 15%;
    height: 100%;
  }

  .navigation-div-second 
  .menu-div
  .icon span{
    display: block;
    width: 30%;
  }

  .navigation-div-second 
  .menu-div
  .icon span svg{
    fill: #fff;
  }

  .navigation-div-second 
  .menu-div
  .icon a{
    color: white !important;
    font-size: large;
    text-decoration: none;
    height: auto;
    width: auto;
  }


  .navigation-div-second 
  .menu-div  button:nth-of-type(1) {
    border: none;
    height: 40px;
    width: 70px;
    border-radius: 30px;
    color: #482AFF;
    font-family: "Nunito";
    font-size: larger;
    margin: 5px;
  }

  .responsive-navigation ul{
    display: block;
    margin: 20px auto auto 10px;
    padding-left: 0px;
  }

  hr{
    color: white;
    width: 90%;
    margin: auto;
  }

  .responsive-navigation 
  ul:nth-of-type(1) li:nth-of-type(1) a span {
    margin: 0px 0px 0px 10px;
  }

}

@media(max-width:500px){
  .navigation-div-second 
  .menu-div
  .icon{
    width: 20%;
  }

  .general-section ul li a{
    font-size: 1rem;
  }

  .responsive-navigation 
  ul:nth-of-type(1) li:nth-of-type(1) a span {
    margin: 0px 0px 0px 2px;
  }
}

@media(max-width:400px){
  .navigation-div-second 
  .menu-div
  .icon{
    width: 25%;
  }

  .general-section ul li a{
    font-size: 0.80rem;
  }
}

/* metatesk-header */

.metatesk-header {
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  height: 500px;
  position: relative;
  
}


.metatesk-title{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}


.metatesk-title img{
  width: 30%;
}

@media(max-width:768px){
  .metatesk-title img{
    width: 60%;
  }
}

@media(max-width:567px){
  .metatesk-title img{
    width: 80%;
  }
}

.metatesk-title-svg{
  width: 10%;
  margin: 30px;
}

.metatesk-main
.logo-image {
  position: fixed;
  top: 10px;
  z-index: 100;
  width: 3%;
}

.metatesk-text {
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.metatesk-text p{
  font-size: 60px;
  line-height: 75px;
  /* font-weight: bold; */
  margin: 20px  10px;
  font-family: "Nunito";
  color: #482AFF;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.metatesk-text p span:nth-of-type(1){
  font-weight: 800;
}

.metatesk-text p span:nth-of-type(2){
  font-family: "Calibri light";
  font-weight: 600;
}

.metatesk-text p span:nth-of-type(3){
  font-weight: 800;
}


.metatesk-img{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.metatesk-img img{
  width: 65%;
  height: auto;
  border-radius: 20px;
  border:  5px solid #FBB116;
}

@media(max-width:768px){
  .metatesk-img img{
    width: 90%;
    margin: 20px auto;
  }
}

/* section one */



.metatesk-section
.section-one
.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}

.metatesk-section
.section-one  .slide{
  width: 100%;
  height: auto;
}

.metatesk-section
.section-one
.slick-track{
  margin: auto;
}

.metatesk-section
.section-one 
.slick-slide>div{
  width: 100%;
}

.metatesk-section
.section-one 
.slick-next
{
  display: none !important;
}

.metatesk-section
.section-one 
.slick-prev{
  display: none !important;
}

.metatesk-section
.section-one .slide img{
  width: 100%;
  height: auto;
}

.metatesk-section
.section-one{
  position: relative;
  overflow: hidden;
  background-image: url('./metaImg/bgShape.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 650px;
  display: flex;
}


.metatesk-section
.section-one > p{
  color: white !important;
  background-color: #482AFF;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  font-size: 45px;
  padding: 10px 25px ;
  border-radius: 120px;
  font-weight: 800;
  font-family: "Nunito";
}

@media(max-width:1300px){
  .metatesk-section
  .section-one > p{
    left: 40%;
    transform: translateX(-32%);
  } 
}

@media(max-width:1199px){
  .metatesk-section
  .section-one > p{
    left: 40%;
    transform: translateX(-32%);
    font-size: 30px
  } 
}

@media(max-width:991px){
  .metatesk-section
  .section-one > p{
    left: 45%;
    transform: translateX(-40%);
    font-size: 25px
  } 
}

@media(max-width:768px){
  .metatesk-section
  .section-one > p{
    left: 45%;
    transform: translateX(-40%);
    font-size: 20px;
    top: 20px;
  }
}

@media(max-width:675px){
  .metatesk-section
  .section-one > p{
    left: 45%;
    transform: translateX(-40%);
    font-size: 15px;
    top: 15px;
  }
}

@media(max-width:460px){
  .metatesk-section
  .section-one > p{
    left: 45%;
    transform: translateX(-40%);
    font-size: 10px;
    top: 15px;
  }
}

@media(max-width:400px){
  .metatesk-section
  .section-one > p{
    padding: 5px 10px;
  }
}


.metatesk-section
.section-one
.text-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 50%;
  z-index: 10;
}

.metatesk-section
.section-one
.text-container > div{
  width: 80%;
}




.metatesk-section
.section-one
.text-container > div button{
  border: none;
  padding: 9px 16px;
  border-radius: 30px;
  background-color: #482AFF;
  color: #fff;
  font-family: "Nunito";
}

.metatesk-section
.section-one p{
  color: black;
  margin-block-start: 0em;
  margin-block-end: 0em;
}


.metatesk-section
.section-one .text-container  p:nth-of-type(1){
  font-family: "Nunito";
  font-size: 5rem;
  font-weight: 900;
  margin: auto auto 30px 5px ;
  line-height: 1;
}

.metatesk-section
.section-one .text-container  p:nth-of-type(2){
  font-family: "Calibri light";
  font-size: 1.5rem;
  font-weight:800;
  margin: auto auto 30px 10px ;
  line-height: 1.2;
}


@media(max-width:1199px){
  .metatesk-section
  .section-one
  .text-container{
    width: 500px;
  }

  .metatesk-section
  .section-one .text-container  p:nth-of-type(1){
    font-size: 20px;
    line-height: 30px;
  }
}

@media(max-width:991px){
  .metatesk-section
  .section-one
  .text-container{
    width: 400px;
  }

  .metatesk-section
  .section-one .text-container  p:nth-of-type(1){
    font-size: 20px;
    line-height: 30px;
  }
  
}

@media(max-width:768px){
  .metatesk-section
  .section-one
  .text-container{
    top: 0px;
    width: 300px;
    height: 300px;
  }
}

@media(max-width:620px){
  .metatesk-section
  .section-one
  .text-container{
    width: 250px;
    height: 250px;
  }

  .metatesk-section
  .section-one .text-container  p:nth-of-type(1){
    font-size: 20px;
    line-height: 30px;
    font-weight: 900;
  }
  
}

@media(max-width:500px){
  .metatesk-section
  .section-one
  .text-container{
    top:40px;
    width: 200px;
    height: 200px;
  }

  .metatesk-section
  .section-one .text-container  p:nth-of-type(1){
    font-size: 15px;
    line-height: 20px;
    font-weight: 900;
  }
}

@media(max-width:480px){
  .metatesk-section .section-one 
  .text-container{
    top: 0px;
  }
}

@media(max-width:380px){
  .metatesk-section
  .section-one
  .text-container{
    top: 20px;
    width: 150px;
    height: 150px;
    text-align: center;
  }

  .metatesk-section
  .section-one .text-container  p:nth-of-type(1){
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
  }
  
}

.metatesk-section
.section-one
.slick-dots li.slick-active button:before {
  color: #FBB116 !important;
}

.metatesk-section
.section-one
.slick-dots li button:before {
  color: hsl(248, 100%, 58%) !important;
}



.section-three
.center-container{
  height: 200px;
  width: 60%;
  margin: auto;
  border-radius: 20px;
  display: flex;
  background-color: #e6e4fa;
}

.section-three
.center-container 
.left{
  width: 35%;
  height: 100%;
}


.section-three
.center-container 
.right{
  padding: 20px;
}

.section-three
.center-container 
.right
p:nth-of-type(1) {
  color: black;
  font-size: 1.3rem;
  font-weight: 900;
  font-family: 'Nunito';
}

.section-three
.center-container 
.right
p:nth-of-type(2) {
  color: black;
  font-size: 1.1rem;
  font-weight: 900;
  font-family: 'Calibri light';
}

.section-three
.center-container 
.right button{
  border: none;
  padding: 10px 18px;
  background-color: #482AFF;
  border-radius: 20px;
  color: white;
}


.metatesk-section
.section-one
.img-container{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.metatesk-section
.section-one
.img-container img:nth-child(1) {
  width: 90%;
  height: auto;
}

.metatesk-section
.section-one
.img-container img:nth-child(2) {
  width: 15%;
  position: absolute;
  left: 20%;
  transform: translateX(-50%);
  top: 8%;
}


.metatesk-section
.section-one
.img-container img:nth-child(3) {
  width: 15%;
  position: absolute;
  right:  15%;
  transform: translateX(-50%);
  bottom: 5%;
}

.metatesk-section
.section-one
.img-container img:nth-child(4) {
  width: 15%;
  position: absolute;
  right:  5%;
  transform: translateX(-50%);
  top: 25%;
}

/* @media(max-width:768px){
  .section-three{
    height: auto;
  }
} */

/* .metatesk-box{
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-self: center;
  text-align: center;
}

@media(max-width:767px){
  .metatesk-box{
    height: 400px;
    margin: 20px auto;
  }
}

.metatesk-box p:nth-of-type(1) {
  color: white;
  font-size: 25px;
  font-weight: 900;
  font-family: 'Nunito';
}

.metatesk-box p:nth-of-type(2) {
  color: white;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Calibri light';
}

.metatesk-box .img-div{
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items:  center;
}

.metatesk-box .img-div img{
  width: 50%;
  height: auto;
} */



.list {
  position: relative;
  width: 100%;
  height: 100%;
}

.list > div {
  position: absolute;
  will-change: transform, width, height, opacity;
  padding: 15px;
}

.list > div > div {
  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 10px;
  border-radius: 4px;
  box-shadow: 0px 10px 50px -10px rgba(34, 7, 241, 0.853);
  border-radius: 20px;
}

.metatesk-section
.section-six{
  /* height: 800px; */
  display: flex;
  align-items: center;
}

.metatesk-section
.section-six
.animate{
  height: 600px;
}

.metatesk-section
.section-six
.col-md-12{
  text-align: center;
  margin: 30px auto;
}

.metatesk-section
.section-six
.col-md-12
p:nth-of-type(1) {
  font-size: 45px;
  color: #482AFF;
  font-weight: 800;
  font-family: "Nunito";
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-top: 50px;
  
}

.metatesk-section
.section-six
.col-md-12
p:nth-of-type(2) {
  font-size: 35px;
  color: #482AFF;
  font-weight: 800;
  font-family: "Calibri light";
}


@media(max-width:1024px){
  .section-six{
    height: 700px;
  }
}

@media(max-width:991px){
  .section-six{
    height: 1200px;
    margin: 50px 0px 100px 0px ;
  }
}

@media(max-width:768px){
  .section-six{
    height: 1200px;
  }
  .metatesk-section
  .section-six
  .animate{
    height: 900px;
  }
}

@media(max-width:600px){
  .section-six{
    height: 1600px;
    margin: 0px;
  }
  .metatesk-section
  .section-six
  .col-md-12
  p:nth-of-type(1) {
    font-size: 35px;
    font-weight: 800;
  }

  .metatesk-section
  .section-six
  .col-md-12
  p:nth-of-type(2) {
    font-size: 25px;
    font-weight: 800;
  }
  .metatesk-section
  .section-six
  .animate{
    height: 1000px;
  }
}

@media(max-width:500px){
  .section-six{
    height: 1350px;
    margin: 0px;
  }
  .metatesk-section
  .section-six
  .col-md-12
  p:nth-of-type(1) {
    font-size: 25px;
    font-weight: 800;
  }

  .metatesk-section
  .section-six
  .col-md-12
  p:nth-of-type(2) {
    font-size: 20px;
    font-weight: 800;
  }


  .metatesk-section
  .section-six
  .animate{
    height: 1150px;
  }
}

.section-six .img-box{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 20px auto ;
}

.section-six .text-box p:nth-of-type(1){
  font-size: 25px;
  font-weight: 900;
  font-family: unset;
}


/* section four */



.section-four
.text-box{
  text-align: center;
  margin: 40px 0px;
}

.section-four
.text-box h3{
  font-size: 30px;
  color: #482aff;
  font-family: "Calibri light";
}

.section-four
.img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px auto;
}

.section-four
.text-box h3 span:nth-of-type(1){
  font-size: 75px;
  font-family: "Nunito";
  font-weight: 700;
  line-height: 95px;
}

.section-four
.text-box h3 span:nth-of-type(3){
  font-size: 45px;
  font-family: "Nunito";
  font-weight: 700;
}

@media(max-width:567px){
  .section-four
  .text-box h3{
    font-size: 25px;
  }
  .section-four
  .text-box h3 span:nth-of-type(1){
    font-size: 65px;
  }

  .section-four
  .text-box h3 span:nth-of-type(3){
    font-size: 25px;
  }
}

@media(max-width:400px){
  .section-four
  .text-box h3{
    font-size: 25px;
  }
  .section-four
  .text-box h3 span:nth-of-type(1){
    font-size: 45px;
    font-weight: 700;
    line-height: 100px;
  }

  .section-four
  .text-box h3 span:nth-of-type(3){
    font-size: 25px;
    font-weight: 700;
  }
}

.section-four
.img-box p{
  font-size: 30px;
  font-family: "Nunito";
  font-weight: 700; 
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-family: "Nunito";
  color: #482AFF;
  border: 5px solid;
  border-radius: 100px;
  padding: 7px 18px;
}


.section-four
.img-box img{
  width: 100%;
  height: auto;
  border-radius: 20px;
  border: 5px solid #FBB116;
  margin: 50px auto auto auto;
}



/* form section  */

.react-tel-input {
  font-family: 'Roboto',sans-serif;
  font-size: 15px;
  position: relative;
  margin: 0px auto 0px auto;
  border: 2px solid #482AFF;
  border-radius: 20px;
  width: 90% !important;
}

.react-tel-input .form-control {
  position: relative;
  font-size: 14px;
  letter-spacing: .01rem;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-left: 48px;
  margin-left: 0;
  background: none;
  border: unset !important ;
  border-radius: 5px !important;
  line-height: 25px;
  height: 35px;
  width: 100% !important; 
  border-radius: 20px !important;
}

.react-tel-input .flag-dropdown {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0;
  background-color: unset !important;
  border: unset !important;
  border-radius: 3px 0 0 3px;
  border-radius: 20px !important;
}

.react-tel-input .flag-dropdown.open .selected-flag {
  background: unset !important;
}

.react-tel-input .selected-flag:hover, .react-tel-input .selected-flag:focus {
  background-color: unset !important;
}

.react-tel-input .selected-flag {
  padding: 0 0 0 16px !important;
}



.section-7-main-div {
  height: auto;
}

.section-7-main-div .section-text-div {
  height: 100px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
}

.section-7-main-div .section-text-div h6 {
  border: 3px solid #482AFF;
  border-radius: 35px;
  padding: 10px 35px 10px 35px;
  font-size: 25px;
  font-weight: 700;
  color: #482AFF;
  font-family: Nunito;
}

@media(max-width:400px){
  .section-7-main-div .section-text-div h6{
    padding: 10px 25px 10px 25px;
    font-size: 20px;
    font-weight: 600;
  }
}


.section-7-form {
  height: 450px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Nunito;
}

.section-7-form input {
  margin: 10px auto 10px auto;
  border: 2px solid #482AFF;
  padding-left: 16px;
  border-radius: 20px;
  height: 40px;
  width: 70%;
  font-family: "Nunito" !important;
  font-weight: 700;
  outline: none !important;
}


.section-7-form textarea {
  width: 70%;
  height: 200px !important;
  outline: none !important;
  border: 2px solid #482AFF;
  font-family: "Nunito" !important;
  font-weight: 700;
  padding-left: 16px;
  border-radius: 20px;
  margin: 10px auto 10px auto;
}


.metatesk-section
.section-7-form button {
  background-color: #482AFF;
  color: white;
  border: none;
  margin: 30px auto;
  border-radius: 15px;
  font-family: "Nunito";
  font-weight: 700;
  text-transform: lowercase;
  padding: 5px 37px;
  font-size: 20px;
  width: 20%;
}

@media(max-width:500px){
  .section-7-form button {
    padding: 5px 30px;
    font-size: 1.1rem;
  }
}

/* footer */

.footer-section{
  margin-top: 40px;
  padding: 20px 0px;
  background: #482aff;
}

.footer-section
.col-md-12{
  display: flex;
  flex-direction:column-reverse;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
}

.footer-section
.col-md-12 img{
  width: 25%;
  margin: 15px auto;
}

@media(max-width:991px){
  .footer-section
  .col-md-12 img{
    width: 35%;
  }
}

@media(max-width:567px){
  .footer-section
  .col-md-12 img{
    width: 55%;
    margin: 20px auto 60px auto;
  }
}

.footer-section
.col-md-12 p{
  color: white;
  font-weight: bold;
  font-size: 15px;
  font-family: "Calibri light";
}

.ul-box p{
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.ul-box ul{
  padding-left: 0px;
}

.ul-box ul li {
  list-style: none;
  color: white;
}

.ul-box ul li a{
  color: white;
  text-decoration: none;
}

/* add section 1 */


/* section-five */



.section-five{
  background-color: #482AFF;
  padding:50px 0px ;
}


.section-five 
.img-box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-five 
.img-box img{
 width: 100%;
 height: auto;
 transform: unset;
 border-radius: 10px;
}

.section-five
.img-box p{
  font-size: 25px;
  font-family: "Nunito";
  font-weight: 800; 
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-family: "Nunito";
  color: white;
  margin: 20px auto;
}

.section-five 
.text-box{
  text-align: center;
}

.section-five 
.text-box h3:nth-of-type(1)  {
  color: white;
  font-size: 35px;
  font-family: "Nunito";
  font-weight: 700;
}

.section-five 
.text-box h3:nth-of-type(2) {
  color: white;
  font-size: 28px;
  font-family: "Calibri light";
}

/* add section 3  */

.add-section-Three{
  margin: 50px auto;
}

.metattesk-contact
form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
}

.metattesk-contact form  
.title-div  {
  border: 3px solid #482AFF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border-radius: 30px;
}

.metattesk-contact 
form 
.WhatsApp-div{
  display: flex;
  align-items: center;
  width: 70%;
  margin: 10px auto;
}

.metattesk-contact 
form 
.WhatsApp-div 
.WhatsApp {
  width: 25px;
  height: 25px;
  margin: 5px 10px 10px;
}

.metattesk-contact 
form 
.date-div{
  width: 70%;
  display: flex;
}

.metattesk-contact 
form 
.date-div
input{
  width: 48%;
}


.metattesk-contact 
.WhatsApp svg {
  fill: #482AFF;
}

.metattesk-contact form div p{
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin: 10px;
  font-size: 20px;
  font-family: "Nunito";
  font-weight: 800;
  color: #482AFF;
}

@media(max-width:500px){
  .metattesk-contact form div p{
    font-size: 15px;
  }
}

@media(max-width:370px){
  .metattesk-contact form div p{
    font-size: 12px;
  }
}

.metattesk-contact form input{
  padding: 10px;
  border-radius: 40px;
  border: 2px solid #482AFF;
  width: 70%;
  margin: 10px auto;
}


.metattesk-contact
.css-b62m3t-container{
  padding: 5px;
  border-radius: 40px;
  border: 2px solid #482AFF;
  width: 70%;
  margin: 10px auto;
}

.metattesk-contact
.css-1s2u09g-control{
  border: none ;
  border-radius: 100px;
}

.metattesk-contact
.css-1pahdxg-control{
  border: none;
  border-radius: 100px;
  box-shadow: none;
}


.metattesk-contact form button{
  background-color: #482AFF;
  border: none;
  padding: 12px 60px;
  border-radius: 30px;
  color: white;
  font-size: large;
  font-weight: 800;
  font-family: "Nunito";
}

.metattesk-contact
.metatesk-img{
  height: 100%;
}

/* section two */


.section-two 
.col-md-12 .text-div p:nth-of-type(1) {
  font-size: 2.6rem;
  font-weight: 900;
  font-family: "Nunito";
}


.section-two 
.col-md-12 .text-div p:nth-of-type(2) {
  font-size: 20px;
  font-family: "Calibri light";
}


.section-two{
  margin: 50px auto;
}

.section-two 
.slick-track{
  display: flex;
  align-items: center;
}


.section-two .slide-div{
  padding: 10px 0px;
}

.section-two .slide-div
> div {
  height: 350px;
  margin: 20px;
  border-radius: 49px;
}

.section-two
.slider-div{
  position: relative;
}

.right-side{
  position: absolute;
  z-index: 1;
  left: 10px;
  width: 70px;
  height: 100%;
  -webkit-mask-image: linear-gradient(to left, transparent 0%, black 30%);
  background-color: rgb(255, 255, 255);
}

.left-side{
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 10px;
  width: 70px;
  height: 100%;
  -webkit-mask-image: linear-gradient(to right, transparent 0%, black 30%);
  background-color: rgb(255, 255, 255);
}

 /* .section-two
 .slider-div
 .slick-list{
  -webkit-mask-image: linear-gradient(to right, transparent 4%, black 10%);
 } */


.section-two 
.slick-next{
  position: absolute;
  top: 50%;
  right: -4%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 2px solid #482aff;
  border-radius: 25px;
  cursor: pointer;
}

.slick-next.slick-disabled{
  border: none
}


.slick-next.slick-disabled:before {
  opacity: 0;
}

.section-two 
.slick-next:before{
  content: '>';
  font-size: 25px;
  font-weight: 900;
  color: #482AFF;
  width: 0;
  height: 0;
  position: absolute;
  left: 30%;
  top: 5%;
  transform: translate(-50%, -50%);
}


.section-two
.slick-prev{
  position: absolute;
  top: 50%;
  left: -4%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 2px solid #482aff;
  border-radius: 25px;
  cursor: pointer;
}

.section-two 
.slick-prev:before{
  content: '<';
  font-size: 25px;
  font-weight: 900;
  color: #482AFF;
  width: 0;
  height: 0;
  position: absolute;
  left: 30%;
  top: 5%;
  transform: translate(-50%, -50%);
}


.slick-prev.slick-disabled{
  border: none
}


.slick-prev.slick-disabled:before {
  opacity: 0;
}

.section-two .slide-div
> div .top-div{
  height: 45%;
  border-top-left-radius: 49px;
  border-top-right-radius:49px;
  
}

.section-two .slide-div
> div .top-div img{
  width: 100%;
  height: 100%;
  border-top-left-radius: 49px;
  border-top-right-radius:49px;
}


.section-two .slide-div
> div .bottom-div{
  height: 60%;
  border-bottom-left-radius: 49px;
  border-bottom-right-radius:49px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.section-two .slide-div
> div .bottom-div button{
    border-radius: 30px;
    border: none;
    margin: 20px 0;
    background-color: #5ccdff;
    color: #fff;
    font-family: "Nunito";
    font-weight: 700;
    text-transform: lowercase;
    padding: 5px 27px;
    font-size: 1rem;
}



/* add-section-five */

.add-section-five{
  margin: 30px auto 100px auto;
  padding: 50px 0px ;
  border-bottom: 5px solid #482AFF;
  border-top: 5px solid #482AFF;
} 

@media(max-width:768px){
  .add-section-five{
    margin: 70px auto 30px auto;
  }
}


.add-section-five .col-md-12 h3{
  font-size: 35px;
  font-family: "Nunito";
  font-weight: 900;
  color: #482AFF;
}

.add-section-five 
.text-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.add-section-five 
.text-box p{
  color: #482AFF;
  margin: 0px;
}

.add-section-five 
.text-box p:nth-of-type(1){
  font-size: 25px;
  font-weight: 800;
  font-family: "Calibri light";
}

.add-section-five 
.text-box p:nth-of-type(2){
  font-size: 65px;
  font-weight: 700;
  font-family: "Nunito";
}

.add-section-five 
.text-box p:nth-of-type(3){
  font-size: 25px;
  font-weight: 800;
  font-family: "Calibri light";
}

.add-section-five 
.row div:nth-of-type(3) 
.text-box p{
  font-size: 25px;
  font-weight: 800;
  font-family: "Calibri light";
}

.add-section-five 
.text-box img{
  width: 90%;
  margin: 10px auto;
}

@media(max-width:1200px){
  .add-section-five 
  .text-box img{
  width: 110%;
  margin: 25px auto;
}
}

@media(max-width:991px){
  .add-section-five 
  .text-box img{
    width: 130%;
    margin: 25px auto;
    position: static;
}
}

@media(max-width:768px){
  .add-section-five 
  .text-box img{
    width: 100%;
    margin: 25px auto;
    position: static;
  }

  .add-section-five 
  .text-box {
    margin: 50px auto;
  }
}


@media(max-width:567px){


  .add-section-five 
  .text-box img{
    width: 70%;
    margin: 25px auto;
    position: static;
  }

  .add-section-five 
  .text-box p:nth-of-type(1){
    font-size: 25px;
    font-weight: 800;
    font-family: "Calibri light";
  }

  .add-section-five 
  .text-box p:nth-of-type(2){
    font-size: 45px;
    font-weight: 700;
    font-family: "Nunito";
  }

  .add-section-five 
  .text-box p:nth-of-type(3){
    font-size: 25px;
    font-weight: 800;
    font-family: "Calibri light";
}

}


/* section seven */

.section-seven  {
  margin: 50px auto auto auto;
}

@media(max-width:1200px){
  .section-seven  {
    margin: 20px auto auto auto;
  }
}


@media(max-width:1024px){
  .section-seven  {
    margin: 200px auto auto auto;
  }
}

@media(max-width:1000px){
  .section-seven  {
    margin: 300px auto auto auto;
  }
}


@media(max-width:991px){
  .section-seven  {
    margin: 20px auto auto auto;
  }
}

@media(max-width:675px){
  .section-seven  {
    margin: 50px auto auto auto;
  }
}





.section-seven .text-box{
  text-align: center;
  margin: 0px auto 20px auto;
}

.section-seven .box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.section-seven .box img{
  width: 50%;
}

@media(max-width:768px){
  .section-seven .box img{
    width: 80%;
  }
}

.section-seven .text-box h3{
  font-size: 50px;
  font-weight: 800;
  font-family: "Nunito";
  color: #482AFF;
}

@media(max-width:768px){
  .section-seven .text-box h3{
    font-size: 35px;
  }
}
